<div class="page-header">
    <h3 class="page-title"
        style="font-size: x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <span class="page-title-icon bg-gradient-primary text-white mr-1">
            <i class="mdi mdi-home menu-icon" style="size: 100px; "></i>
        </span>
        INTRODUCTION TO OSTEOPOROSIS
    </h3>
</div>
<div class="card-body grid-margin stretch-card" >
    <div class="card bg-gradient-dark card-img-holder ">
        <div class="card-body">
            <img src="assets/images/dashboard/bulb.jpg"
                class="card-img-absolute" alt="bulb-image" style="width: 100%; opacity: 0.4;" />
            <h1
                style="color:yellow; font-weight: bolder;text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                OSTEOPOROSIS </h1>
            <h3
                style="color: yellow; margin-top: 30px; font-weight: normal; text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
                Osteoporosis is a health condition that weakens bones, making them fragile and
                more likely to break. It develops slowly over several years and is often only diagnosed when a fall or
                sudden impact causes a bone to break (fracture). </h3>
            <br>
            <div>
                <div class="row mt-3">
                    <div class="col-6 pl-1" style="margin-top: 40px; ">
                        <div class="card-img-absolute">
                            <div class="OSTEOPOROSIS">
                                <img class="mb-2 rounded" [src]=img1 style=" width: 450px;                                   
                                     height: 290px;
                                     margin-right: 0px;
                                     margin-top: 30px;
                                     border: 20px;">
                            </div>
                        </div>
                    </div>

                    <div class="col-6 pl-1" style="margin-top: 5px; margin-left: 480px;">
                        <div class="card bg-gradient-danger card-img-holder text-white">
                            <div class="card-body">

                                <h4
                                    style="color: rgb(6, 43, 122); font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                    <i class="mdi mdi-layers mdi-24px" style=" size: 10px; margin-left: 40px;"></i>
                                    INTRODUCTION
                                </h4>
                                <p style="margin-top: 15px; color: rgb(0, 0, 0);">Osteoporosis is a condition which is
                                    characterized by low bone mineral density leading to high risk of
                                    fractures. It can wreak havoc on your dental health. The bone loss in the jaw from
                                    osteoporosis is linked to additional tooth loss. In fact, women with osteoporosis
                                    are three times more likely to have tooth loss than those without the condition.
                                    There’s also evidence that bone loss in the jaw leads to gum disease, which can
                                    be serious and result in infections and tooth loss.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div>
                <div class="row mt-3">
                    <div class="col-5 pl-1" style="margin-top: 10px; margin-left: 20px; ">
                        <div class="card bg-gradient-primary card-img-holder text-white">
                            <div class="card-body">

                                <h4
                                    style="color: rgb(247, 243, 17); font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                    <i class="mdi mdi-quadcopter mdi-24px" style="size: 10px; margin-left: 40px;"></i>
                                    PREVENTION
                                </h4>
                                <p style="margin-top: 15px; color: black;">Women typically start out with lower bone
                                    density than men,
                                    and loss of estrogen over time can increase the risk for osteoporosis. With the
                                    increasing age, loss in bone mineral density can be identified by thinning and
                                    porosity of mandible. This systemic disease is not curable but
                                    its prevention at early stage is recommended.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-6 pl-1" style="margin-top: 20px; margin-left: 15px;">
                        <div class="card-img-absolute">
                            <div class="OSTEOPOROSIS">
                                <img class="mb-2 rounded"
                                    src="https://ecosh.com/wp-content/uploads/sites/3/2020/12/Causes_of_Osteoporosis_Osteoporosis_Causes_Osteoporosis_Risk_Factors_Osteoporosis_Risk_Groups_Osteopenia_symptoms.jpg"
                                    style=" width: 520px; height: 280px; margin-top: 7px;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div class="row mt-3">
                    <div class="col-6 pl-1" style="margin-top: 28px; ">
                        <div class="card-img-absolute">
                            <div class="OSTEOPOROSIS">
                                <img class="mb-2 rounded"
                                    src="https://media.itpro.co.uk/image/upload/v1570816915/itpro/2019/04/deep_learning_illustration.jpg"
                                    style=" width: 450px; 
                                     height: 280px;
                                     margin-top: 20px;
                                     margin-right: 0px;
                                     border: 20px;">
                            </div>
                        </div>
                    </div>

                    <div class="col-6 pl-1" style="margin-top: 2px; margin-left: 480px;">
                        <div class="card bg-gradient-info card-img-holder text-white">
                            <div class="card-body">

                                <h4
                                    style="color: rgb(114, 9, 61); font-weight: bolder; text-align: start; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                    <i class="mdi mdi-hand-pointing-right mdi-24px"
                                        style="size: 10px; margin-left: 40px;"></i>
                                    PURPOSE
                                </h4>
                                <p style="margin-top: 15px; color: black;">Traditionally, osteoporosis was detected
                                    using dual energy X-ray absorptiometry (DEXA) test which is costlier and rarely
                                    done. As compared to DEXA test, OPG images are less costly. An OPG is a panoramic
                                    <br>X-ray of the upper and lower jaws, including the teeth.<br> DEEP LEARNING and SOFT COMPUTING TOOLS helps us
                                    to detect Osteoporosis in regular dental check-up using less costly OPG images.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>